# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
venv/
ENV/
*.log

# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS & Editor
.vscode/
.idea/
.DS_Store
*.swp
